#!/usr/bin/env bash

RED_COLOR="\e[31m"
GREEN_COLOR="\e[32m"
YELLOW_COLOR="\e[33m"
RESET_COLOR="\e[0m"

function log {
  echo -e "${1}${2}${RESET_COLOR}"
}

function log_error {
  log "${RED_COLOR}" "${1}"
}

function log_warn {
  log "${YELLOW_COLOR}" "${1}"
}

function log_info {
  log "${GREEN_COLOR}" "${1}"
}

log_warn "=========================================================================="
log_warn "If this is the first time setting up this ENV, this could take a long time"
log_warn "It is a good time to get up and strech :)"
log_warn "=========================================================================="

if [ -f ".env-local-dev" ] ; then
  # shellcheck disable=SC1091
  source .env-local-dev
fi

if [ -f ".env-local-dev-secrets" ] ; then
  # shellcheck disable=SC1091
  source .env-local-dev-secrets
fi

log_info "Development Environment Setup ..."
unset PS1
